<div class="row">
    <div class="col-12">
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Video")">Previous Page</a></li>
                <li class="breadcrumb-item active">About</li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Privacy")">Next Page</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. Microsoft's best-known software products are the Windows line of operating systems, the Microsoft 365 suite of productivity applications, and the Edge web browser. Its flagship hardware products are the Xbox video game consoles and the Microsoft Surface lineup of touchscreen personal computers. Microsoft ranked No. 14 in the 2022 Fortune 500 rankings of the largest United States corporations by total revenue; it was the world's largest software maker by revenue as of 2022. It is considered one of the Big Five American information technology companies, alongside Alphabet, Amazon, Apple, and Meta.</h4>
    </div>
</div>